body {
  background-image: url("/static/transparenteye.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%
}
.statusTable {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-bottom: 4px solid #333333;
}
.serviceHeader {
  font-size: 18px;
}

.instanceModal {
  text-align: left;
}

.docsButton {
  text-align: center;
  display: block;
  width: 16px;
  float: right
}

.healthChecks {
  margin: auto;
  text-align: center;
}

.infoButton {
  text-align: center;
  float: left;
}

.statusTableBody{
  display: table-row-group;
}
.statusTableRow {
  display: table-row;
}
.statusTableHead {
  display: table-header-group
  font-size: 15px;
  font-weight: bold;
  border-bottom: 4px solid #333333;
}
.statusTableCell, .statusTableHead {
  // border: 1px solid #FFFFFF;
  display: table-cell;
  padding: 4px 12px;
  vertical-align: middle;
  text-align: center;
}
.statusTableCell {
  border-bottom: 1px solid #333333;
}

.instanceBox {
  display: inline-block;
  width: 120px;
  height: 45px;
}

.redBackground {
  background-color: rgb(255,40,40)
}

.greenBackground {
  background-color: LightGreen
}

.red {
  color: rgb(255,0,0)
}

.green {
  color: rgb(68,157,68)
}

.footer {
  width: 100%;
  text-align: center;
}
